
.classes-view-header  {
    width:100%;
    height: max-content;
    top: 9%;
    z-index: 1000;
    position: absolute;
    background-color: white;
}

.classes-view-header {
    padding-left: 10px;
}

.classes-view-title1 {
    font-size: 25px;
    color: rgb(224, 62, 3);
}

.classes-view-title2 {
    font-size: 18px;
    padding-top: 5px;
    color: gray;
}

.classes-details-container {
    flex: 1;
    display: flex;
    width: 75%;
    justify-content: space-between;
    padding-top: 5px;
}

.classes-details-container p {
    margin: 5px;
    font-size: 12px;
}

.classes-link-container {
    width: 75%;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.classes-link-container ul {
    display: flex;
}

.classes-link-container li {
    margin: 10px;
    list-style: none;
}

.classes-link-container a {
    text-decoration: none;
    font-size: 13px;
}

.btn-primary {
    width: 120px;
    height: 35px;
    border-radius: 12px;
    font-size: 11px;
}

.class-list {
    width: 100%;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



.classes-view-container {
    width: 100%;
    height: 92%;
    margin-top: 40px;
    padding-top: 170px; /* enough space to push down content under header */
}

.classes-box-main-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.student-list {
    width: 100%;
    height: 100%;
    background-color: white;
}

.student-list h2 {
    font-size: 18px;
    color: rgb(224, 62, 3);
    padding-left: 10px;
    font-weight: 520;
}

.student-list form {
    padding-left: 10px;
    margin-top: 10px;
}

.student-list input {
    width: 280px;
    height: 35px;
    padding: 5px;
    border: 1px  solid gray;
    border-radius: 4px;
}

.student-list i {
    font-size: 18px;
}


.addStudent-modal {
    width: 450px;
    height: max-content;
    box-shadow: 0px 0px 10px rgb(0, 0, 0) ;
    position: fixed;
    top: 4%;
    left: 40%;
    border-radius: 14px;
    background-color: white;
    display: none;
    z-index: 2000;
    padding-bottom: 15px;
}

.add-student-title {
    text-align: center;
    padding-top: 12px;
    font-size: 18px;
}

.csv-container {
     flex-wrap: wrap;
     width: 100%;
     display: flex;
     padding-top: 10px;
     justify-content: center;
     height: max-content;
}

.csv-container form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.csv-container input {
    width: 90%;
    height: 40px;
   margin-bottom: 10px;
   border: 1px solid black;
   display: flex;
   border-radius: 7px;
}
.csv-container input[type="file"] {
    width: 90%;
    margin-bottom: 10px;
    border: 1px solid black;
    text-align: center;       /* Horizontal center */
    line-height: 40px;        /* Vertical center */
    padding-left: 10px;
}

.save-btn {
    width: 200px;    
    height: 35px;
    border-radius: 7px;
    border: none;
    background: linear-gradient(rgb(255, 51, 0), rgb(193, 60, 4));
    color: white;
    font-size: 12px;
}

.csv-p {
    font-size: 12px;
    padding-top: 5px;
}

.add-student-indi {
    width: 100%;
    flex-wrap: wrap;
     width: 100%;
     padding-top: 10px;
     justify-content: center;
     height: max-content;
}

.add-student-indi form {
    max-width: 410px; /* optional: para dili kaayo lapad */
    margin-left: 20px;
}

.info-add {
    display: flex;
    flex-direction: column; /* label sa taas, input sa ubos */
    margin-bottom: 15px;
}

.info-add label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    font-size: 12px;
}

.info-add input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-studentBtn {
    display: flex;
    justify-content: space-between;
}

.add-studentBtn button {
    width: 120px;
    height: 35px;
    border-radius: 6px;
    font-size: 12px;
    border: none;
    background: linear-gradient(rgb(255, 0, 0) green);
}