.course-header-container {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
}

.course-header {
    padding-left: 10px;
    margin-top: 10px;
}
.course-header h2 {
    font-size: 18px;
}
.course-header form {
    margin-top: 5px;
}

.course-header input {
    width: 240px;
    height: 32px;
    padding: 5px;
    border: 2px solid #e74302;
    border-radius: 4px;
}

.courseBtn {
    margin-right: 25px;
}

.courseBtn button {
    width: 125px;
    height: 40px;
    font-size: 11px;
    border-radius: 11px;
    border: none;
    background: linear-gradient(to right, #773703, #da4704);
    color: white;
}

/*course modal container*/

.course-modal-container {
    display: none;
    width: 30%;
    height: 55%;
    left: 45%;
    top: 22%;
    background: white;
    border-radius: 18px;
    position: fixed;
    box-shadow: 2px 0px 2px 0px rgba(247, 95, 7, 0.918);
}

.course-title {
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}

.course-form {
    width: 100%;
    height: 100%;
}

.form-group {
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
        position: relative;
    z-index: 1; /* Make sure it's above other elements if needed */
}


.form-group label {
    font-size: 15px;
    font:sans-serif;
    font-weight: 550;
}

.form-group input {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #e74302;
}


 .form-group select#course_components {
    width: 100%;
    padding: 8px;
    height: 38px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    position: relative;
    z-index: 1;
    margin-top: 5px;
    border: 1px solid #e74302;
}

.button-group {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-group button {
    margin: 30px;
    height: 40px;
    width: 140px;
    border-radius: 11px;
    border: none;
    background: linear-gradient(to right, #773703, #da4704);
    font-size: 11px;
    color: white;
}

.course-table {
    width: 100%;
    height: max-content;
    margin-top: 20px;
}

.course-table table {
    width: 100%;
    border-collapse: collapse;
}
.course-table th, .course-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.course-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 13px;
}

.course-table td {
    font-size: 12px;
}